/* Change Cursor when hovering above buttons.
*/
button:hover {
	cursor: pointer;
}

/* Timer Wrapper
 */
#timer {
	display: inline-block;
	font-family: "Major Mono Display", monospace;
	text-align: right;
	white-space: nowrap;
	margin: 12px;
	padding: 6px 12px;
	border: 3px inset;
	border-radius: 12px;
	visibility: hidden;
}

/* Questions
 */
#questions {
	font-family: "Major Mono Display", monospace;
	text-align: center;
	margin-top: 12px;
}

/* Explanations
 */
#explanations {
	font-family: "Major Mono Display", monospace;
	text-align: justify;
	display: inline-block;
	margin-left: 12px;
	letter-spacing: 0;
	visibility: hidden;
}

#result {
	font-family: "Major Mono Display", monospace;
	text-align: center;
	visibility: hidden;
}

#answerDisplay {
	display: none;
}

#answerBtn {
	text-align: justify;
	letter-spacing: 0;
	white-space: nowrap;
	display: inline-block;
	padding: 0 12px;
}

#startBtn {
	text-align: center;
	font-family: "Major Mono Display", monospace;
	font-size: xx-large;
	height: 86px;
}

/* #startDisplay {
} */
