/* Timer Wrapper
 */
#timerDisplay {
	display: inline-block;
	font-family: "Major Mono Display", monospace;
	text-align: right;
	white-space: nowrap;
	margin: 12px;
	padding: 6px 12px;
	visibility: hidden;
}

/* Questions
 */
#questionDisplay {
	font-family: "Major Mono Display", monospace;
	text-align: center;
	margin-top: 12px;
}

/* Explanations
 */
#explanationDisplay {
	font-family: "Major Mono Display", monospace;
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
	display: block;
	margin-left: 12px;
	letter-spacing: 0;
	visibility: hidden;
}

#resultDisplay {
	font-family: "Major Mono Display", monospace;
	text-align: center;
	visibility: hidden;
}

#answerDisplay {
	display: none;
}

#answerBtn {
	text-align: justify;
	letter-spacing: 0;
	white-space: nowrap;
	display: inline-block;
	padding: 0 12px;
	overflow-wrap: break-word;
}

#startBtn {
	text-align: center;
	font-family: "Major Mono Display", monospace;
	font-size: xx-large;
	height: 86px;
}

.wrongChoice {
	color: red !important;
	visibility: visible !important;
}

.correctChoice {
	color: green !important;
	visibility: visible !important;
}

.buttonCorrect {
	color: white !important;
	border-color: green !important;
	background-color: green !important;
}
.buttonCorrect:hover {
	color: green;
	border-color: green;
	background-color: white;
}

.buttonWrong {
	color: white !important;
	border-color: red !important;
	background-color: red !important;
}

.buttonWrong:hover {
	color: red !important;
	border-color: red !important;
	background-color: white !important;
}
