/* Change Cursor when hovering above buttons.
*/
button:hover {
	cursor: pointer;
}

/* Timer
 */
.timer {
	font-size: 60%;
	font-family: "Major Mono Display", monospace;
	float: right;
	text-align: left;
	margin: 10px;
	padding: 0px 12px;
	border: 10px inset;
	border-radius: 12px;
}

#questions {
	text-align: center;
}
